main {
    grid-area: main;
    overflow-y: auto;
    width: 100%;
    background: #FFFFFF;
}

h1, h2, h3 {
    color: rgb(75, 136, 130);
    font-weight: lighter;
}

#container {
    width: 100%;
    text-align: center;
}

#left {
    float: left;
    width: 50px;
}

#center {
    margin: 0 auto;
    width: 500px;
}

.navbar {
    background-color: #D2EDE8;
    display: flex;
    align-items: center;
}

.navbar-button {
    padding: 10px;
}

.return-button {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #81e4da;
    box-shadow: 1px 1px 10px 0.5px #7777771c, -1px -1px 10px 0.5px #7777771c;
}

.return-button:hover {
    background-color: #72c9c0;
}

.navbar-title {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: rgb(75, 136, 130);
}

.main-content {
    padding: 10px;
    justify-content: center;
}
  
.slider {
    width: 100%;
    height: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
  
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: #08080810;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;

    width: 100%;
    height: 100%;
    margin-right: 50px;
    border-radius: 10px;
    background: #FFFFFF;

    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 100px;
}
  
.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
.author-info a {
    color: white;
}

.slider-numbers {
    margin-bottom: 10px;
}
  
.slider-numbers > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #D2EDE8;
    text-decoration: none;
    color: #64b1a9;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.slider-numbers > a:active {
    top: 2px;
}
.slider-numbers > a:hover {
    background: #bcdad4;
}

.slide {
    padding: 10px;
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.fb-post {
    padding: 15px;
    max-width: 100%;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.75);
    box-shadow: 1px 1px 10px 0.5px #7777771c, -1px -1px 10px 0.5px #7777771c;
}

.slides > div > div > img {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
}

.post-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.post-text p {
    max-width: 500px;
    text-align: left;
    font-size: 15px;
}

.post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.btn-content {
    width: 120px;
    padding: 4px;
    color: #64b1a9;
    background: #D2EDE8;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0.5px #7777771c, -1px -1px 10px 0.5px #7777771c;
}